body
{
    background-color: black;
    
}
.navbr
{
    background-color:rgba(93, 93, 93, 0.37);
    color:white;
    display: flex; 
    align-items: center; /* Aligns items vertically in the center */
    justify-content: space-between; /* Ensures #nav1 is on the left and #nav2 on the right */
    height: 40px;
    padding: 10px;  
    border-radius: 5px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top:5px ;
    margin-bottom:10px;
}
.navbr div a
{
   text-decoration: none;
   color: white; 
   padding: 10px;
}
#carouselExampleAutoplaying img
{
    width:100%;
    height: 500px;
    border-radius: 15px;
    margin-top: 10px;
}
#carouselExampleAutoplaying
{
    width:95%;
    padding-left:50px;
}
/* Login */
#login
{
    background-image: url(/Projimages/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Make Register div full height of the viewport */
}

#logindiv {
    
    background: rgba(65, 69, 67, 0.575);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.242);
    text-align: center;
    width: 40%;
}
#login-form h2 {
    margin-bottom: 20px;
    color: white;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
}
.input-group input 
{
    width: 100%;
    padding: 10px 40px 10px 20px;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.592);
    color: white;
    font-size: 16px;
}

.input-group i {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
}
.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    color: white;
    font-size: 14px;
}

.options a {
    color: white;
    text-decoration: none;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: white;
    color: darkslategray;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
button:hover {
    background: rgba(4, 228, 228, 0.744);
    color: white;

}

p {
    margin-top: 20px;
    color: white;
}

p a {
    color: white;
    text-decoration: underline;
}

/* JS */

#container
{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap:10px;
    margin-left:100px;
    margin-bottom:50px
}
.card
{
    width:200px;
    height:200px;
    border:2px solid rgba(255, 255, 255, 0.26);
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: rgba(255, 253, 253, 0.268);
    padding: 10px;
}
#Pimage
{
    justify-content: center;
    align-items: center;
    width:150px;
    height: 150px;
    border:1px solid white;
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.33);
    border-radius: 5px;
}

#page3
{
    width:100%;
    background-image: url(/Projimages/Earth-at-night-view-from-space-4k-wallpaper.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
}

#pages
{
    margin-top: 20px;
    margin-bottom:20px;
    text-align: center;
}
.pbtn
{
    width: 30px;
    margin: 5px;
    background-color: rgba(252, 255, 255, 0.862);
    border-radius:15%;
    font-weight: bold;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 20px;
    bottom: 0;
    margin-top: 10px;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}